.card {
  position: relative;
  transform-style: preserve-3d;
  -moz-backface-visibility: hidden; /*firefox support */
  transform: rotateY(0);
  transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}

.card-anim {
  animation: flip-card 1s forwards ease-in-out;
}

.flip-card {
  transform: rotateY(180deg);
}

@keyframes flip-card {
  to {
    transform: rotateY(-180deg);
  }
}

.face,
.back {
  height: 100%;
  width: 100%;
  position: absolute;
}

.face {
  text-align: center;
  transform: scale(-1, -1);
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
}

.back {
  /* background: var(--color_1); */
  background: var(--card-bg);

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s ease;
  /* -webkit-backface-visibility: hidden; */
}

.card .back:hover,
.card .face:hover {
  box-shadow: 0px 0px 20px var(--color_3);
}

.card {
  box-shadow: 0px 0px 20px var(--color_31);
}

.back p {
  font-size: 1rem;
}

.tech-img {
  height: inherit;
  max-width: 100%;
}
