#contact {
  display: flex;
  padding: 3rem;
  justify-content: center;
  /* align-items: center; */
}

#contact-form {
  display: flex;
  flex-direction: column;
}

#contact-form input {
  margin: 1rem;
  padding: 1rem;
}

#contact-form button {
  margin: 1rem;
  padding: 1rem;
}

@media only screen and (max-width: 500px) {
  #contact-form button {
    margin: 1rem;
    padding: 1rem;
    border: none;
    background-color: var(--color_4);
    color: var(--color_1);
    border-radius: 1rem;
  }
}
