section#cover {
  display: grid;
  grid-template-columns: 1fr 5fr 5fr 1fr;
  grid-auto-rows: auto;
  grid-template-areas: ". welcome cover-img .";
  justify-content: center;
  align-items: center;
}

#cover .welcome {
  grid-area: welcome;
  font-size: 3rem;
  cursor: default;
}

#cover .cover-img {
  grid-area: cover-img;

  /* max-width: 100%; */

  transition: filter 3s ease;
}

h2 span {
  color: var(--color_4);
}

@media only screen and (max-width: 360px) {
  section#cover {
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas: ". cover-img ." ". welcome .";
  }

  .cover-img img {
    width: 20rem;
  }
  #cover .welcome {
    font-size: 2rem;
  }
}
