:root {
  --color_1: #ffffff;
  /* --color_1: #fff; */
  --color_2: #4d8b31;
  /* --color_3: #ffc800; */
  --color_3: #3ba4cd;
  --color_31: #ffc80020;
  /* --color_4: #ff8427; */
  --color_4: #3ba4cd;
  --color_5: #000000;

  --card-bg: #17141d;
  --sections-bg: #ffc80010;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--color_1);
  color: var(--color_5);
  font-family: "Montserrat", sans-serif;
}

#logo {
  color: white;
  fill: white;
}

.App {
  text-align: center;
}

section {
  height: 70vh;

  opacity: 0;
  padding: 5rem;
  animation: popin 1.5s forwards ease;
  /* overflow: hidden; */
}

@keyframes popin {
  to {
    opacity: 1;
  }
}
