:root {
  --color_1: #231f20;
  --color_2: #4d8b31;
  --color_3: #ffc800;
  --color_31: #ffc80020;
  --color_4: #ff8427;
  --color_5: #ffffff;

  --card-bg: #17141d;
  --sections-bg: #ffc80010;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--color_1);
  color: var(--color_3);
  font-family: "Montserrat", sans-serif;
}

.App {
  text-align: center;
}

nav {
  /* height: 10vh; */
  /* border: 4px solid red; */
}

section {
  height: 70vh;

  opacity: 0;
  padding: 5rem;
  animation: popin 1.5s forwards ease;
}

@keyframes popin {
  to {
    opacity: 1;
  }
}
